html{
  scroll-behavior: smooth;
}
body {
    /* display: flex; */
    background-color: #000000;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .menusandwich {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  

.super-cont
{
  display: flex;
}

.demo-page-navigation
{
  margin-left: 15px;
  max-width: 400px;
  background-color: #222; 
  border-radius: 5px;
  padding: 10px;
  padding-right: 15px;
  margin-top: 20px;
  line-height: 3;
}

a:link, .demo-page-navigation
{
  color: #00A896; 
  text-decoration: none;
}

header {
  background-color: #1F7A8C; 
  color: black; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

h1 {
  margin: 0;
  margin-top: 10px;
  padding-left: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}
.button {
  padding: 10px 20px;
  background-color: #00A896; 
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  max-width: 500px; 
  width: 100%;
  margin: 20px auto;
  background-color: #222;
  color: #00FFFF; 
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  padding: 20px;
}
  

  
  form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }

  .score{
    max-width: 97%;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #00A896;
  }
  
  select,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #444; /* Darker border color */
}
th, td {
  padding: 12px;
  text-align: center;
  color: #fff; /* Set text color to white for table content */
}
th {
    background-color: #00FFFF; /* Set table header background color to teal/cyan */
    color: #000; /* Set table header text color to black */
}
tr:nth-child(even) {
    background-color: #111; /* Even row background color */
}
tr:hover {
    background-color: #333; /* Hovered row background color */
}
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00A896;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  h2 {
    text-align: center;
    color: #00A896;
  }
  